/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.header
{
 
}
img
{
 max-width:100%;
}
.logo
{
 text-align:center;
}

.header
{
 background-image:url(../background.jpg);
}
#line li a
{
 text-decoration:none;
}
ul
{
    list-style-type: none;
}
.limit
{
 width:30%;
 border-top:1px solid #D3D3D3;
 text-align:center;
 padding-top:2px;
 display:inline-block;
 margin:2px;
 margin-bottom:20px;
 font-size: 20px;
 font-family: "Georgia","Times New Roman",serif; 
}
a.link:hover
{
 color:#FF4812;
 border-color:#FF4812;
 transition:1s;
}
.start
{
 text-align:center;
 font-weight: normal;
 margin-bottom:20px;
}
.circle
{
    border-radius: 50%;
    width:200px;
    height:200px; 
    border:10px solid;
    background-color:#262626;
    margin:auto;
    text-align:center;
    border:20px solid transparent;
}
.textcolor
{
 color:white;
 padding-top:56px;
 padding-bottom:80px;
 font-family: 'Ubuntu',sans-serif;
 font-weight: bold;
 font-size: 40px;
 }
 //.textcolor
{
 position:relative;
 color:white;
 padding-top:;
 padding-bottom:px;
 font-family: 'Ubuntu',sans-serif;
 font-weight: bold;
 font-size: 40px;
//}
 .cirlink
 {
  text-decoration:none;
 }
 .circle:hover
 {
  border: 20px solid #FF4800;
  transition:1s ease-in-out 0s;
  
  color: #FF4800;
  display:block;
 }
 .textcolor:hover
 {
  transition: 1s;
  color: #FF4800;
 }

 #buy
 {
  margin:auto;
  text-align:center;
  margin-top:50px;
  font-size:46px;
  margin-bottom:40px;
 }
  .pfoot
  {
	display:inline-block;
	margin-right:10px;
  }
  #two
  {
	margin-bottom:10px;
  }
  #pref
  {
	margin-left:7px;
  }
  .font
  {
	font-family: "Georgia","Times New Roman",serif;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
  }
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
